<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>


<script type="text/javascript">
  window.tvURL = "<%= image_url('tv.png') %>";
</script>

<script type="text/javascript">
  window.linkURL = "<%= image_url('download-1.png') %>";
</script>


<script type="text/javascript">
  window.gitURL = "<%= image_url('download-2.png') %>";
</script>

<script type="text/javascript">
  window.netflixSmileyURL = "<%= image_url('netflix-smiley.jpg') %>";
</script>


<script type="text/javascript">
  window.mobileURL = "<%= image_url('mobile-0819.jpg') %>";
</script>

<script type="text/javascript">
  window.deviceURL = "<%= image_url('device.png') %>";
  window.bplogo = "<%= image_url('bplogo.jpg')%>"
</script>


 



<main id="root"></main>