<!DOCTYPE html>
<html>
  <head>
    <title>Trailmix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="TrailMix" />
    <meta property="og:type" content="website" />  
    <meta property="og:url" content="http://trailmix-aa.herokuapp.com/#/" />   
    <meta property="og:image" content="<%= asset_path('trailmix.png')%>" />    
    <meta property="og:description" content="A fullstack application clone of Netflix" />
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= favicon_link_tag asset_path('favicon.ico') %>
<script type="text/javascript">
  window.backgroundVid = "<%= video_url('blackpanther.mp4')%>"
</script>

  <body>
    <%= yield %>
  </body>
</html>
